Berkas
.venv
venv
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
.ipynb_checkpoints/
output/
*.log
*.tmp
*.bak
*.swp
*.sqlite3
.env
.env.*
credentials.json
credentials-*.json
token.json
*.pdf
dist/
build/
*.spec
.png
.otherfile